.tombol {
    size: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    align-items: center;
}

.instruksi {
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}
.foto {
    width: 10%;
    flex: content;
    align-items: center;
    align-content: center;
    margin: 100px;
    border: 1px;
}